input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.uploadRemove {
  padding: 0.7rem 1.5rem;
  border: 1px solid #6c757d;
  background-color: #6c757d;
  color: #fff;
  border-radius: 3px;
  margin-left: 1rem;
}

@media only screen and (max-width: 1200px) {
  .uploadRemove {
    margin: 1rem 0 0 0;
  }
}

.airKoreaBtn {
  margin: 0 1rem;
}

@media only screen and (max-width: 600px) {

  .airKoreaBtn {
  margin: 0 1rem 0 0;
  }
}