
//공통
$white:#fff;
$black:#1F2633;
$skyblue:#42B1FA;
$darkblue:#333E53;
$lightblue:#BBD3FF;
$red:#FE626F;
$yellow:#F2B800;
$gray:#686868;
$lightgray:#F5F5F5;
$purplegray:#9FA4BC;

$time: #989898;
$icon:#7B8494;
$errorIcon:#dbdbdb;

$backgroundLight:#F9F9F9;
$backgroundDark:#0A0D10;

$textLight:#1F2633;
$textDark:#D8D8D8;

$shadowLight:rgba(0,0,0,0.16);
$shadowDark:rgba(0,0,0,0.7);

$tableTopLight: rgba(187,195,209,0.25);
$tableTopDark: rgba(81,108,155,0.25);

$tableHoverLight: rgba(187,195,209,0.15);
$tableHoverDark: rgba(81,108,155,0.15);

$tableColor1:#6C757D;
$tableColor2:#476F92;

$boxFrameLight: rgba(31, 38, 51, 0.2);
$boxFrameDark: #376FA1;


//헤더, 메뉴, 푸터
$barLight:#EEEEEE;
$barDark:#1F2633;

$menuBackgroundLight:rgba(238,238,238,0.7);
$menuBackgroundDark:rgba(10,13,16,0.7);

$mobileMenuLight:rgba(123,132,148,0.1);
$mobileMenuDark:rgba(14,21,26,0.5);

$menuBarLight: #F3F3F3;
$menuBarDark:#1B212B;


//맵
$mapBarLight: rgba(234,236,240,0.9);
$mapBarDark: rgba(31,38,51,0.9);

