@import '../../../scss/color';
@import '../../../scss/fonts';
@import '../../../scss/mixin';


/*파일 업로드 버튼*/
.sensorWrap,.imgUploadWrap{
    label{
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 8.5rem;
        height:3.2rem;
        cursor: pointer;
        border-radius: 0.5rem;

        input[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
        }

        .fileText{
            position: absolute;
            display: block;
            left: 10rem;
            width: 20rem;
            cursor:default;
        }
    }
}


/*라이트모드*/
body.light {
    .sensorWrap, .imgUploadWrap{
        input{
            color:black;
        }
    }

    label{
        color: $black;
        border: 1px solid $purplegray;
        background-color: $white;
    }
}

/*다크모드*/
body.dark{
    .sensorWrap, .imgUploadWrap{
        input{
            color:skyblue;
        }
    }

    label{
        color: $skyblue;
        border: 1px solid $skyblue;
        background-color: $menuBarDark;
    }
}


/*미디어쿼리*/
@include mobile{
    .sensorWrap{
        label{
            .fileText{
                font-size: 5px;
            }
        }
    }
}