.nav-wrap {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 150px;
  height: 80vh;
  border-top: 1px solid #eee;
  overflow: hidden;
  background-color: #999;
  z-index: 99;
  display: none;
}

.mapMain {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  padding: 0 !important;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.13);
}

.MBmenu {
  width: 15%;
  display: flex;
  justify-content: center;
  /* padding: 0.7em; */
}
.MBHead .MBmenu button,
.MBHead .MBsetting a {
  font-size: 30px;
}

.MBHead .MBmenu button:focus {
  outline: none;
}

.MBHead .MBlogo {
  /* padding: 0.7em; */
  width: 70%;
  display: flex;
  justify-content: center;
}
.MBHead .MBlogo img {
  width: 100%;
  max-width: 371px;
}

.MBHead .MBsetting {
  padding: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.MBHead .MBsetting a{
  display: flex;
}

.navbar-collapse {
  background-color: #009ee0;
}
.MBHead .navbar-nav {
  height: calc(100vh - 60px);
  border-top: 2px solid #eee;
}

.MBHead .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid #1791c0;
}

.MBHead .navbar-nav .nav-link.active {
  border-bottom: 2px solid #ffe600;
}

.MBHead .nav-link .weatherIcon {
  width: 40px;
  height: 22px;
}

.MBcopyright {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 10px;
  font-size: 12px;
  color: #fff;
  background-color: #1d8cb6;
}

.MBcopyright a {
  padding-bottom: 10px;
  font-size: 12px;
  color: #fff;
}
.MBcopyright span {
  margin: 0 5px;
}

.weatherIcon.Icon01 {
  background: url('/img/common/leftMenu01Over.png') no-repeat;
}
.weatherIcon.Icon02 {
  background: url('/img/common/leftMenu02Over.png') no-repeat;
}
.weatherIcon.Icon03 {
  background: url('/img/common/leftMenu03Over.png') no-repeat;
}
.weatherIcon.Icon04 {
  background: url('/img/common/leftMenu04Over.png') no-repeat;
}
.weatherIcon.Icon05 {
  background: url('/img/common/leftMenu05Over.png') no-repeat;
}
.weatherIcon.Icon06 {
  background: url('/img/common/leftMenu06Over.png') no-repeat;
}

#navbarNavAltMarkup {
  transition: all ease 1.5s 0s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* ... */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* ... */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1199px) {
  .navbar.MBHead {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-height: 550px) {
  .MBcopyright {
    display: none;
  }
}
